@font-face {
    font-family: 'Asheron';
    src: url('../fonts/asheron_ii-webfont.woff2') format('woff2'),
         url('../fonts/asheron_ii-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}