/**
 * @section Base Styles
 */

body {
	font-size: 16px;
	margin: 0 auto;
	background: $purple;
	position: relative;
	font-family: 'Raleigh';
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input,
textarea,
select,
button {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }